@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

#editor {
	width: 640px;
	background-color: white;
}

#editor .cm-wrap {
	border: 1px solid lightgrey;
	border-radius: 1px;
}

#editor .cm-scroller {
	font-family: "Fira Code", monospace;
}

@supports (font-variation-settings: normal) {
	#editor .cm-scroller {
		font-family: "Fira Code VF", monospace;
	}
}

#editor .cm-panel-lint,
#editor .cm-tooltip-lint {
	font-family: "Fira Code", monospace;
	font-size: 0.75em;
}

#editor .cm-panel-lint button {
	display: none;
	pointer-events: none;
}
